.PoomISkill {
    box-sizing: border-box;
    padding: 5vw;
    width: 100vw;
    height: 55vh;

    background: #FFF7F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PoomISkill .Content {
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.PoomISkill .Content .PoomISkillListArea
{
    box-sizing: border-box;
    width: fit-content;
    height: 32vh;
}

