@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

.SkillsDescription {
    box-sizing: border-box;
    width: 40vw;
    height: 32vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border: 7px solid #FFB869;
    background-color: white;
    text-align: center;
}



.SkillsDescription .SkillImg img{
    box-sizing: border-box;
    width:17vw;
    height: 20vh;
    margin: 0;
    padding: 0;
}

.SkillsDescription .Text{
    box-sizing: border-box;
    width: 40vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    font-family: 'LotteMartDream';
    font-size: 0.9vw;
    line-height: 1.2vw;
    white-space: pre-wrap;
    color: #666666;
}

