.PoomIFeacture {
    box-sizing: border-box;
    width: 70vw;
    height: 45vh;
    margin: 4vw auto;
    padding: 1.5vw 5vw;

    color: #595959;
}

.PoomIFeacture .article {
    box-sizing: border-box;

    width: 40vw;
    height: 8vh;
    margin: 0 4vw;

    display: flex;
    align-items: center;

}

.PoomIFeacture .article img {
    box-sizing: border-box;
    width: 9vw;
    height: 4.2vh;
}

.PoomIFeacture .article .headingText {
    box-sizing: border-box;
    font-family: 'LotteMartDream';
    font-weight: 700;
    font-size: 1.4vw;
    padding-top: 0.5vw;
}

.PoomIFeacture .Feactures {
    box-sizing: border-box;
    width: 52.5vw;
    height: 30vh;
    margin: 0.5vw 4vw;
    padding: 0 3vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.PoomIFeacture .Feactures .FeactureElem {
    box-sizing: border-box;

    width: 10vw;
    height: 28vh;
    padding: 1vw 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;

    text-align: center;
}

.PoomIFeacture .Feactures img {
    box-sizing: border-box;
    width: 7.5vw;
    height: 7.5vw;
    margin: 0 auto;
}

.PoomIFeacture .Feactures .text {
    box-sizing: border-box;
    width: 10vw;
    height: 10vh;
    margin: 1vw 0;
    font-family: 'LotteMartDream';
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.4vw;
    color: #5A5A5A !important;
}