@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.WebBanner{
    box-sizing: border-box;
    width: 100vw;
    height: 20vw;
    background: #F6EFE0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.WebBanner img {
    box-sizing: border-box;
    height: 20vw;
}

.WebBanner button{
    font-family: 'BMJUA';
    font-size: 7vh;
    color : #FFFFFF;
    border: none;
    background: none;
    cursor: pointer;
}