@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.NaviBar {
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    padding: 0 10vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 0.01vw solid #F1F1F1;
}

.NaviBar img {
    box-sizing: border-box;
    width: 12vw;
    height: fit-content;
    cursor: pointer;
}

.NaviBar button {
    width: fit-content;
    height: auto;
    margin: 0 0.5vw;
    font-family: "BM HANNA Air";
    font-size: 1.2vw;
    color: #707070;
    border: none;
    background: none;
    cursor: pointer;
}

.NaviBar Navi button + button {
    box-sizing: border-box !important;
    padding-left: 1.5vw !important;
    border-left: 0.03vw solid #707070 !important;
}

.NaviBar button:hover{
    color: #FFB663;
    box-sizing: border-box;
    transition: 0.15s color ease-in;
}