@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.LoginBar {
    box-sizing: border-box;
    width: 100vw;
    height: 5vh;
    padding-right: 10vw;
    background: #FFB663;
    font-family: 'BMHANNAPro';

    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.LoginBar button + button{
    box-sizing: border-box;
    width: fit-content;
    padding-left: 1vw;

    border-left: 0.25vw solid white;
}
